{% load static %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>Viral Analyze</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive Resume/CV／Portfolio Template">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">
    <link rel="shortcut icon" href="favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'plugins/font-awesome/css/font-awesome.css' %}">

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="{% static 'css/styles-14.css' %}">
    <link id="theme-style" rel="stylesheet" href="{% static 'css/custom.css' %}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <header class="header">
        <div class="top-bar container-fluid">
            <!--<div class="actions">
                <a class="btn hidden-xs" href="mailto:someone@example.com"><i class="fa fa-paper-plane" aria-hidden="true"></i> Hire Me</a>
                <a class="btn" href="#"><i class="fa fa-download" aria-hidden="true"></i> Download My Resume</a>
            </div>--><!--//actions-->
            <ul class="social list-inline">
                <li><a href="https://www.linkedin.com/in/viral-gorecha-2460a718a/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="https://twitter.com/Veeral94"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="https://github.com/datav94"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
            </ul><!--//social-->
        </div><!--//top-bar-->

        <div class="intro">
            <div class="container text-center">
                <img class="profile-image" src="{% static 'images/vg2.jpg' %}" alt="Mehul's profile image">
                <h1 class="name">Viral Gorecha</h1>
                <div class="title">Certified Data Scientist </div>
                <div class="profile">
                    <p> zealous and erudite catalyst with a strong passion for analytics and AI and a multi-faceted background with acquired skills ranging from development, analytics to
                        management, delivering solutions beyond technologies. A smooth absorbent for every 
                        bit of knowledge and information on AI and dedicated tech marshal delivering quality 
                        beyond expectations</p>
                </div><!--//profile-->
            </div><!--//container-->
        </div><!--//intro-->

        <div class="contact-info">
            <div class="container text-center">
                <ul class="list-inline">
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto:gorechaviral@gmail.com">gorechaviral@gmail.com</a></li>
                    <li><i class="fa fa-phone"></i> <a href="tel: +918866532395">+918866532395</a></li>
                    <li class="website"><i class="fa fa-globe"></i><a href="#">gorechaviral@gmail.com</a></li>
                </ul>
            </div><!--//container-->
        </div><!--//contact-info-->

        <div class="page-nav-space-holder hidden-xs">
            <div id="page-nav-wrapper" class="page-nav-wrapper text-center">
                <div class="container">
                    <ul id="page-nav" class="nav page-nav list-inline">
                        <li><a class="scrollto" href="#experiences-section">Experience</a></li>
                        <li><a class="scrollto" href="#education-section">Education</a></li>
                        <li><a class="scrollto" href="#skills-section">Skills</a></li>
                        <li><a class="scrollto" href="#testimonials-section">Testimonials</a></li>
                        <li><a class="scrollto" href="#portfolio-section">Portfolio</a></li>
                        <li><a class="scrollto" href="#contact-section">Contact</a></li>
                    </ul><!--//page-nav-->
                </div>
            </div><!--//page-nav-wrapper-->
        </div>

    </header><!--//header-->

    <div class="wrapper container">
        <section id="experiences-section" class="experiences-section section">
            <h2 class="section-title">Experience</h2>
            <div class="timeline">
                <div class="item">
                    <div class="work-place">
                        <p>
                            <h3 class="place"><b>Junior ML Engineer</b></h3>
                        </p>
                        <div class="location">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>Bengaluru, Karnataka</div>
                    </div>
                    <div class="job-meta">
                        <div class="title">Junior ML Engineer</div>
                        <div class="time">Nov, 2021 - Present</div>
                    </div>
                    <!--//job-meta-->
                    <div class="job-desc">
                        <p>Working as Task leader for modelling task, managing task teams along with development.</p>
                        
                        <ul>
                            <li>  Summarizing Research papers for generation of ideas</li>
                            <li>   Scripts building for image cropping and frames extraction for videos</li>
                            <li> Building various ensemble models including Xception, EfficientNet, ResNet, StarGAN etc </li>
                        </ul>
                        <p>Technologies and Language used:</p>
                        <ul>
                            <li>Tensorflow</li> 
                            <li>Pytorch</li>
                            <li>Azure</li>
                            <li>Matplotlib</li>
                            <li>GAN's</li>
                            
                        </ul>
                    </div>
                    <!--//job-desc-->
                </div><!--//item-->

                <div class="item">
                    <div class="work-place">
                        <p>
                            <h3 class="place"><b>Data Science Intern</b></h3>
                        </p>
                        <div class="location">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>Bengaluru, Karnataka</div>
                    </div>
                    <div class="job-meta">
                        <div class="title">Data Science Intern</div>
                        <div class="time">May, 2021 - Present</div>
                    </div>
                    <!--//job-meta-->
                    <div class="job-desc">
                        <p>Working as team leader for the intern’s team managing team projects with git for version control and Jira for Agile management</p>
                        
                        <ul>
                            <li>  Brainstorming ideas and managing daily meets and projects in git</li>
                            <li>  Daily and weekly project reports</li>
                            <li>  Generic scripts generation for use in Data wrangling and EDA  </li>
                            <li>Model development, evaluation, and deployment</li>
                            </ul>
                        <p>Technologies used:</p>
                        <ul>
                            <li>Scikit-learn</li>
                            <li>Tensorflow</li>
                            <li>Matplotlib</li>
                            <li>Seaborn</li>
                            <li>Bokeh</li>
                            
                        </ul>
                    </div>
                    <!--//job-desc-->
                </div><!--//item-->

                <div class="item">
                    <div class="work-place">
                        <h3 class="place"><b>Senior IT System Developer ,RSA Global</b></h3>
                        <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Ahmedabad, Gujarat</div>
                    </div>
                    <div class="job-meta">
                        <div class="title">Senior IT </div>
                        <div class="title">System Developer</div>
                        <div class="time">Nov, 2020- Present</div>
                    </div><!--//job-meta-->
                    <div class="job-desc">
                        <p>Working with CEO, CTO and Business team to understand the dynamics of logistics problems and developing backend 
                            solutions ranging from automated ftp tracking, webhooks to full-fledged web applications that can handle end to end logistics 
                            demands. Working with clients on system integrations and SIT.</p>
                        <ul>
                          <li> Dashboard preparation using PowerBI to visualize and analyse the tracking and transactional data inflows and 
                            outflows for FTP file monitoring system</li>
                          <li> Design and development of systems like Click360 and client portals thereby enhancing the capabilities of Infor WMS</li>
                          <li>Deployment solutions on Click360 using Gitlab CI/CD pipelines and Docker containers</li>
                          <li> Preparation of ArcESB workflows for integration of Client’s EDIFACT system with RSA ClickDNA system</li>
                          <li>Rest API and webhook development for automation of order creation, tracking and client on boarding</li>
                          <li> Azure API management for creation of mock API and backend to frontend alignment after development</li>
                          <li>Development of FTP based file monitoring system for tracking daily incoming files on the FTP server</li>
                          <li>Documentation for web applications and existing and newly developed APIs</li>
                        </ul>
                        <p>Technologies used:</p>
                        <ul>
                            <li>Django & DRF</li>
                            <li>Azure API Management</li>
                            <li>Azure Devops</li>
                            <li>Celery</li>
                            <li>Git</li>
                            
                        </ul>
                    </div><!--//job-desc-->
                </div><!--//item-->

                <div class="item">
                    <div class="work-place">
                        <p>
                            <h3 class="place"><b>Software Engineer</b></h3>
                        </p>
                        <div class="location">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>Vadodara, Gujarat</div>
                    </div>
                    <div class="job-meta">
                        <div class="title">Software Engineer</div>
                        <div class="time">Mar, 2020 - Nov,2020</div>
                    </div>
                    <!--//job-meta-->
                    <div class="job-desc">
                        <p>Closely working with the Head of technology to analyse the needs of clients and developing database designs and application
                            for the same </p>
                        
                        <ul>
                            <li>  Developed a micro service for digitization of menu cards using OpenCV and Flask</li>
                            <li>  Developed a micro service for text classification of text extracted from menu cards using NLTK</li>
                            <li> Designed a database for dynamic forms using MySQL as back-end database technology </li>
                            <li> Developed SQL stored procedures for data merge from various sources with data size more than 5 billion records for
                                wikiprofiles.com</li>
                            <li> Developed T-SQL cursors with dynamic queries for data upload into various live tables of Fastbase.com</li>
                            </ul>
                        <p>Technologies used:</p>
                        <ul>
                            <li>OpenCV</li>
                            <li>Flask</li>
                            <li>MySQL</li>
                            <li>SQL SERVER 2012</li>
                            <li>C# .Net</li>
                            
                        </ul>
                    </div>
                    <!--//job-desc-->
                </div><!--//item-->

                <div class="item">
                    <div class="work-place">
                        <p>
                            <h3 class="place"><b>Production Manager</b></h3>
                        </p>
                        <div class="location">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>Kampala, Uganda</div>
                    </div>
                    <div class="job-meta">
                        <div class="title">Production Manager</div>
                        <div class="time">Dec, 2016 - Nov,2019</div>
                    </div>
                    <!--//job-meta-->
                    <div class="job-desc">
                        <p>Closely working with the MD and CFO to refine the company’s production strategies. Tactically heading a team of supervisors and line 
                            heads to maintain a smooth production environment and enhancing the quality of product with daily reports generation and inspection 
                            along with QA. </p>
                        
                        <ul>
                            <li>Maintained inventory on field to eliminate stock-outs of raw-materials and packaging items at production facility</li>
                            <li>Administered regulatory compliance for DDA and UNBS </li>
                            <li>Managed machine failure and took preventive actions for maintenance under the compliance for DDA and UNBS </li>
                            <li>Ensured a continuous flow of production process </li>
                            <li>Planned monthly CIP schedules </li>
                            <li>Performed QMRP (Quality Risk Management Process) audits and planned corrective measures </li>
                            <li>Managing the functions of troubleshooting and predictive / preventive / breakdown / corrective maintenance & overhaul for
                            reducing machinery downtime to minimum</li>
                            <li>Health checks and retrofitting works and overhauling of machines, inspecting machines at vendors’ end and at line setup</li>
                            <li>Undertaking regular inspections to prevent accidents and ensure adherence to safety norms, analysing existing processes and
                            conducting critical analysis for finding out shortcomings and suggesting improvement </li>
                            <li>Analysing the nature of faults & initiating follow up actions to provide quality feedback of the product, conducting analysis of
                            existing processes, finding out shortcomings and suggesting improvements </li>
                            <li>Conducting process audits; reviewing existing processes & implementing modifications for improving operational efficacy and
                            achieving maximum cost savings, ensuring safe working order of all electrical equipment </li>
                            <li>Administering plant operations, safety, quality, material control, UNBS (Uganda National Bureau of Standards) and DDA (Dairy
                            Development Authority) code compliance, production control processes and product improvement </li>
                            <li>Recruitment of quality controllers, supervisors and food handlers undertaken on a regular basis.</li>
                        </ul>
                    </div>
                    <!--//job-desc-->
                </div><!--//item-->

               

            </div><!--//timeline-->

        </section><!--//section-->

        <section id="education-section" class="education-section section">
            <h2 class="section-title">Education</h2>
            <div class="row">
                <div class="item col-xs-12 col-sm-4">
                    <div class="item-inner">
                        <h3 class="degree">B.E Aeronautical Engineering</h3>
                        <div class="education-body"><br>
                           Park College of Engineering and Technology
                        </div><!--//education-body-->
                        <div class="time">2011 - 2015</div>
                        <div class="desc">
                            Park College of Engineering and Technology is Anna University Chennai Affiliated
                         Achieved B.E in Aeronautical Engineering with 6.54 CGPA.
                        </div>
                    </div><!--//item-inner-->
                </div><!--//item-->
               
                <div class="item col-xs-12 col-sm-4">
                    <div class="item-inner">
                        <h3 class="degree">Certified Data Scientist</h3>
                        <div class="education-body"><br>
                           IABAC
                        </div><!--//education-body-->
                        <div class="time">2021 </div>
                        <div class="desc">
                          With Major focus on Machine Learning and it's various implementation. IABAC provides a rather rigorous approach preparing the candidates for real life AI/ML projects. My main focus here remained the field of Deep learning.
                        </div>
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item col-xs-12 col-sm-4">
                        <div class="item-inner">
                            <h3 class="degree">IBM Data Science Professional</h3>
                            <div class="education-body"><br>
                                    Coursera & IBM
                            </div><!--//education-body-->
                            <div class="time">2021</div>
                            <div class="desc">
                              The name IBM says it all and its preparation for data science candidates has a proven outcome. Capstone project was Determining the best neighbourhood for a sushi joint in Manhattan using K-means clustering.
                            </div>
                        </div><!--//item-inner-->
                    </div><!--//item-->

            </div><!--//row-->
        </section><!--//section-->


        <section id="skills-section" class="skills-section section text-center">
            <h2 class="section-title">Professional Skills</h2>
            <div class="top-skills">
                <h3 class="subtitle">Top Skills</h3>
                <div class="row">
                    <div class="item col-xs-12 col-sm-4">
                        <div class="item-inner">
                            <h4 class="skill-name">Deep Learning &amp; Computer Vision</h4>
                            <div class="level">Moderate, 1 year</div>
                            <div class="desc">
                                The projects on Computer Vision on my repertoire range from simple Object detection to Highly state-of-the-art deepfake detection algorithms and solving their generalization gaps
                            </div>
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    <div class="item col-xs-12 col-sm-4">
                        <div class="item-inner">
                            <h4 class="skill-name">Machine Learning</h4>
                            <div class="level">Moderate, 1 year</div>
                            <div class="desc">
                                Started as a hobbie, Machine learning and analytics draged me to the deeper relms of Statistics and its ML applications. I have involved myself proactively on ML projects in Python and MATLAB
                            </div>
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    <div class="item col-xs-12 col-sm-4">
                        <div class="item-inner">
                            <h4 class="skill-name">Backend Development</h4>
                            <div class="level">Advanced, 2 years</div>
                            <div class="desc">
                                I've been working with web technologies  since 2 years with RSA Global <br> <b>From simple webhooks to full scale ecom websites. </b>End to End logistics solutions is what my Backend applications are live on at RSA Global  <br> 
                            </div>
                        </div><!--//item-inner-->
                    </div><!--//item-->
                </div><!--//row-->
            </div><!--//top-skills-->

            <div class="other-skills">
                <h3 class="subtitle">Techincal Skills</h3>
                <div class="misc-skills">
                    <span class="skill-tag">Python</span>
                    <span class="skill-tag">Django 3.0</span>
                    <span class="skill-tag">Tensorflow</span>
                    <span class="skill-tag">PyTorch</span>
                    <span class="skill-tag">OpenCV</span>
                    <span class="skill-tag">Matplotlib</span>
                  
                    <br>
                    
                    <span class="skill-tag">Data Viz</span>
                    <span class="skill-tag">Data Wrangling</span>
                    <span class="skill-tag">Computer Vision</span>
                    <span class="skill-tag">Deep Learning</span>
                   
                    
                    <span class="skill-tag">SQL/NoSQL</span>
                    <span class="skill-tag">Git</span>
                </div>
            </div><!--//other-skills-->

        </section><!--//skills-section-->

        <section id="testimonials-section" class="testimonials-section section">
            <h2 class="section-title">Recommendations</h2>

            <div id="testimonials-carousel" class="testimonials-carousel carousel slide" data-interval="8000">

                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#testimonials-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#testimonials-carousel" data-slide-to="1"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <blockquote class="quote">
                            <i class="fa fa-quote-left"></i>
                            <p>An excellent partner, developer and friend. We've worked together for live project matrimonial website 2018, participating in several positions in the Software Development field and side projects.</p>
                            <p>He is creative, innovative, responsible and quite a rational thinker. Coding as a way of life, his work presents products with great quality, following standards and good practices.</p>
                            <p>Also passionate, confident, cheerful and respectful, his animosity moves people forward toward achieving the team's goals.</p>
                        </blockquote>
                        <div class="source">
                            <div class="name">Chacha Suhani</div>
                            <div class="position">Computer Engineer , Aditya Silver Oak Institute Of Technology</div>
                        </div><!--//source-->

                    </div><!--//item-->
                    <div class="item">
                        <blockquote class="quote">
                            <p><i class="fa fa-quote-left"></i>
                              Mehul is a really good working partner with high knowledge on backend development, he is always concerned with going forward never afraid of improving or making use of new technologies, helping his peers whenever he is able to and solving problems in a quick and efficient manner with his typical optimism</p>.<p>Saying from personal Experience when we worked on project togather for 2 years.</p>
                        </blockquote>
                        <div class="source">
                            <div class="name">Hetal Nathvani</div>
                            <div class="position">position , Company</div>
                        </div><!--//source-->

                    </div><!--//item-->

                </div><!--//carousel-inner-->
            </div><!--//testimonials-carousel-->

        </section><!--//section-->


        <section id="portfolio-section" class="portfolio-section section">
            <h2 class="section-title">Projects</h2>
            <ul id="filters" class="filters clearfix">
                <li class="type active" data-filter="*">All</li>
                <li class="type" data-filter=".backend">Back-end</li>
                <li class="type" data-filter=".frontend">Front-end</li>
            </ul><!--//filters-->
            <div class="items-wrapper isotope row">
                    <div class="item backend frontend col-md-4 col-xs-8 ">
                    <div class="item-inner">
                        <figure class="figure">
                            <img class="img-responsive" src="{% static 'images/portfolio/project1.png' %}" alt="" />
                        </figure>
                        <div class="content text-left">
                            <h3 class="sub-title"><a href="https://medium.com/@mehulkothari05/movie-success-prediction-a67d871a7b1">Movie Success Prediction</a></h3>
                            <div class="meta"><u> Technology: Python, Machine Learning, Django Framework.</u><br><br>
                                Movie Success prediction is a prediction of how much movie gets success using some previous data and statistics.
                               <br><br> What kind of movie should be made to attract people
· What is the genre and type of movie(comedy, acton, thriller).
· What age group people like which kind of movie
· Who are the lead roles in the movie.
                                    </div>
                         
                           
                            <div class="action"><a href="https://medium.com/@mehulkothari05/movie-success-prediction-a67d871a7b1">Source:Medium</a></div>
                        </div><!--//content-->
                        <a class="link-mask" href="https://medium.com/@mehulkothari05/movie-success-prediction-a67d871a7b1"></a>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item backend frontend col-md-4 col-xs-8 ">
                    <div class="item-inner">
                        <figure class="figure">
                            <img class="img-responsive" src="{% static 'images/portfolio/p2.jpg' %}" alt="" />
                        </figure>
                        <div class="content text-left">
                            <h3 class="sub-title"><a href="https://medium.com/@mehulkothari05/smart-baby-stroller-system-3f6b4f49476a">Smart Baby Stroller System</a></h3>
                            <div class="meta"><u>Technology used :Python, Machine Learning, IOT, Android Studio</u><br><br>
                                Parent can do live streaming with their child at any moment whenever they want
                                · Also can track the emotions of baby and can take possible actions
                                · Provided sensors can track all information about weather
                                · On the basis of information of weather, this app can be integrated with IOT to take possible actions such as activate AC
                                </div>
                            
                            
                            <div class="action"><a href="https://medium.com/@mehulkothari05/smart-baby-stroller-system-3f6b4f49476a">Closed source</a></div>
                        </div><!--//content-->
                        <a class="link-mask" href="https://medium.com/@mehulkothari05/smart-baby-stroller-system-3f6b4f49476a"></a>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item backend frontend col-md-4 col-xs-8 ">
                    <div class="item-inner">
                        <figure class="figure">
                            <img class="img-responsive" src="{% static 'images/portfolio/p3.png' %}" alt="" />
                        </figure>
                        <div class="content text-left">
                            <h3 class="sub-title"><a href="https://medium.com/@mehulkothari05/matrimonial-website-9cd5247f477d">Matrimonial Website</a></h3>
                            <div class="meta"><u>Technology used : Coding in PHP, MYSQL,HTML ,CSS ,JavaScript</u><br><br>
                                As you will visit the homepage you will get what it is. It is a matrimonial website for Brahman Parivar or samaj where young and adult people of brahman samaj can register themselves on this site with the proper and correct details.
                                Then they have to approve them self and can search for their soulmate.</div>
                                <br>
                            
                            <div class="action"><a href="https://medium.com/@mehulkothari05/matrimonial-website-9cd5247f477d"> source:Medium</a></div>
                        </div><!--//content-->
                        <a class="link-mask" href="https://medium.com/@mehulkothari05/matrimonial-website-9cd5247f477d"></a>
                    </div><!--//item-inner-->
                </div><!--//item-->
               
               <!--//item-->
                <div class="item backend col-md-4 col-xs-8 ">
                    <div class="item-inner">
                        <figure class="figure">
                            <img class="img-responsive" src="{% static 'images/portfolio/p4.png' %}" alt="" />
                        </figure>
                        <div class="content text-left">
                            <h3 class="sub-title"><a href="#">Personal portfolio</a></h3>
                            <div class="meta"><u> Python,Django, HTML,CSS,Javascript</u><br><br>
                                This is a project for my personal portfolio using Django
                                This is m first project on Django after Blog app
                                <br>Also I have taken reference for this project from udemy.</div>
                            <br><br><br><br><br>
                            <div class="meta"></div>
                            <div class="action"><a href="https://github.com/ErickAgrazal/portfolio">View on Github</a></div>
                        </div><!--//content-->
                        <a class="link-mask" href="#"></a>
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item frontend col-md-4 col-xs-8 ">
                    <div class="item-inner">
                        <figure class="figure">
                            <img class="img-responsive" src="{% static 'images/portfolio/p8.png' %}" alt="" />
                        </figure>
                        <div class="content text-left">
                            <h3 class="sub-title"><a href="https://github.com/mehulk05/Know-Your-Disease">Know Your Disease</a></h3>
                            <div class="meta"><u> Coding in HTML ,CSS ,PHP, Bootstrap,MYSQL</u><br><br>
                                Website on “Know Your Disease” which will show users nearby Hospitals, chemist, labs, their products
along with their ongoing offers and events.
• Also user can get details of his probable disease on his list of symptoms and can make appointment to
doctors and lab technician and buy medicine online.<br>
                                </div>
                           
                            <div class="action"><a href="https://github.com/mehulk05/Know-Your-Disease">View on Github</a></div>
                        </div><!--//content-->
                        <a class="link-mask" href="https://github.com/mehulk05/Know-Your-Disease"></a>
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item frontend backend col-md-4 col-xs-8 ">
                    <div class="item-inner">
                        <figure class="figure">
                            <img class="img-responsive" src="{% static 'images/portfolio/p6.jpeg' %}" alt="" />
                        </figure>
                        <div class="content text-left">
                            <h3 class="sub-title"><a href="https://github.com/mehulk05/Firebase-Client-Based-Chat-app">Simple Chat application using Firebase</a></h3>
                            <div class="meta"><u>Technology used: Android Studio , Firebase
                                </u><br><br>
                                    This is a very basic implementation of chat application .
                                    Android application is made for sender and receiver to chat
• Real time Firebase Database was used with simple GUI
                            </div>
                            
                            <div class="action"><a href="https://github.com/mehulk05/Firebase-Client-Based-Chat-app">Closed source</a></div>
                      
                    </div><!--//item-inner-->
                </div><!--//item-->

            </div><!--//item-wrapper-->

        </section><!--//section-->

        <section id="contact-section" class="contact-section section">
            <h2 class="section-title">Get in Touch</h2>
            <div class="intro">
                <img class="profile-image" src="{% static 'images/vg2.jpg' %}" alt="Viral's profile image">
                <div class="dialog">
                    <p>I'm currently working fulltime as Senior IT System Dev for <a href="http://www.rsa.global" target='_blank'>RSA Global</a>, but I'm always open to new opportunities that let me help as much as I can on other projects.</p>
                    <p><strong>I can help with the following:</strong></p>
                    <ul class="list-unstyled service-list">
                        <li><i class="fa fa-check" aria-hidden="true"></i> Deep learning End-to-End Projects</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i> Machine Learning Projects using Scikit-learn, TF, Keras </li>
                        <li><i class="fa fa-check" aria-hidden="true"></i> Computer Vision using OpenCV, TF, Keras and Pytorch </li>
                        <li><i class="fa fa-check" aria-hidden="true"></i> Dashboards and Analytics using Tableau, PowerBI </li>
                        <li><i class="fa fa-check" aria-hidden="true"></i> Backend Development with Django, DRF, Celery</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i> Deployment and complete CI/CD using Gitlab </li>
                        <li><i class="fa fa-check" aria-hidden="true"></i>Git hub version control</li>
                    </ul>
                    <p>Drop me a line at <a href="mailto:gorechaviral@gmail.com">gorechaviral@gmail.com</a> or call me at <a href="tel:+918866532395">+918866532395</a></p>
                    <ul class="social list-inline">
                        <li><a href="https://www.linkedin.com/in/viral-gorecha-2460a718a/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="https://twitter.com/Veeral94"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="https://github.com/datav94"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
                    </ul><!--//social-->
                </div><!--//diaplog-->
            </div><!--//intro-->

        </section><!--//section-->

    </div><!--//wrapper-->

    <footer class="footer text-center">
        <div class="container">
            <small class="copyright">Copyright @ <a href="#">Viral Gorecha </a></small>
        </div><!--//container-->
    </footer>

    <!-- Javascript -->
    <script type="text/javascript" src="{% static 'plugins/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/back-to-top.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/jquery-scrollTo/jquery.scrollTo.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/easy-pie-chart/src/easypiechart.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/easy-pie-chart/src/jquery.plugin.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/easy-pie-chart/src/renderer/canvas.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/imagesloaded.pkgd.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/isotope.pkgd.min.js' %}"></script>

    <!-- custom js -->
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

</body>
</html>